@import '~antd/dist/antd.css';

.switchButton {
  width: 100px;
  height: 50px;
  float: right;
}

.siteHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-logo {
  width: 100px;
  height: 100px;
  margin-right: 100px;
}
