.EditDialog {
  min-width: 700px;
}

.EditDialog > .ant-modal-content {
  width: 100%;
}

.EditDialog--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.EditDialog--content > * {
  width: 50%;
}
